@charset "UTF-8";

@import url("assets/css/dispatcher.min.css");

/*---Переменные START---*/

/*---Переменные END---*/

.category {
    padding: 0 10px 0 10px;
}

.category-background {
    height: 100%;
}

.category-background__svg {
    width: 100%;
    height: 100%;
    background: url(../img/background-category-page.svg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.category__items {
    margin: 0px auto;
}

.category-item hr {
    border: 1px solid #232323;
    max-width: 1170px;
    margin: 25px 0 25px 0;
}

.category-item__wrapper {
    max-width: 1102px;
    min-height: 101px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.category-item__title {
    max-width: 500px;
}

.category-item__title h2 {
    font-family: "Monument Regular" sans-serif;
    font-weight: 700;
    font-size: 80px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(354.36deg, #F8F8F8 7.72%, rgba(239, 239, 239, 0.84) 74.98%);
    background: linear-gradient(95.64deg, #F8F8F8 7.72%, rgba(239, 239, 239, 0.84) 74.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0px 4.06593px 20.3297px rgba(0, 0, 0, 0.35);
}

.category-item__title h2:hover {
    background-color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.category-item__container {
    width: 260px;
}

.category-item__genre {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
}

.category-item__genre p {
    font-family: "Onest Regular" sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 129%;
    color: #FFFFFF;
}

.category-item__genre time {
    padding: 0 10px 0 0;
    font-family: "Onest Regular" sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 129%;
    color: #FFFFFF;
}

.category-item__status p {
    font-family: "Onest Regular" sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 125%;
}

.category-item__button {
    display: none;
}

@media (max-width: 768px) {
    .category-item hr {
        display: none;
    }

    .category-item__wrapper {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: start;
        -ms-flex-align: start;
        align-items: start;
        -webkit-justify-content: start;
        -ms-flex-pack: start;
        justify-content: start;
    }

    .category-item__title h2 {
        font-size: 36.5848px;
        line-height: 98%;
        margin: 0 0 6px 0;
    }

    .category-item__container {
        width: 172.9px;
    }

    .category-item__genre {
        margin: 0 0 4px 0;
    }

    .category-item__genre p,
  .category-item__genre time {
        font-size: 16px;
        line-height: 125%;
    }

    .category-item__status {
        margin: 0 0 25px 0;
    }

    .category-item__status p {
        font-size: 12px;
        line-height: 80%;
    }

    .category-item__button {
        display: block;
        margin: 0 0 35px 0;
    }

    .category-item__button-conteiner {
        display: block;
        margin: 0 0 35px 0;
        width: 112px;
        height: 38px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background: url(../img/border-button.svg);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .category-item__button-conteiner p {
        font-family: "Onest Regular" sans-serif;
        font-weight: 200;
        font-size: 15px;
        line-height: 126%;
        text-align: center;
        color: #FFFFFF;
    }
}