@charset "UTF-8";

/*---Подключение шрифтов--*/

@import url("assets/css/dispatcher.min.css");

/*---Переменные START---*/

/*---Переменные END---*/

.post {
    padding: 0 10px 0 10px;
}

.post-background {
    height: 100%;
}

.post-background__svg {
    width: 100%;
    height: 100%;
    background: url(../img/background-post.svg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.post-item {
    margin: 0px auto;
}

.post-item__container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1170px;
    gap: 60px;
    margin: 0 0 55px 0;
}

.post-item__image {
    max-width: 284px;
    max-height: 355.26px;
}

.post-item__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.post-item__description {
    max-width: 820px;
}

.post-item__description h1 {
    font-family: "Monument Regular" sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 126.5%;
    text-transform: uppercase;
    background: -webkit-linear-gradient(354.36deg, #F8F8F8 7.72%, rgba(239, 239, 239, 0.84) 74.98%);
    background: linear-gradient(95.64deg, #F8F8F8 7.72%, rgba(239, 239, 239, 0.84) 74.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0px 4.06593px 20.3297px rgba(0, 0, 0, 0.35);
    margin: 0 0 10px 0;
}

.post-item__description li {
    font-family: "Onest Regular" sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 31px;
    color: #b7b6b6;
    padding: 0 0 15px 0;
}

.post-item__description b {
    font-family: "Onest Regular" sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}

.post-text__cotainer {
    max-width: 575px;
    margin: 0 0 100px;
}

.post-text__cotainer h2 {
    font-family: "Monument Regular" sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 126.5%;
    text-transform: uppercase;
    background: -webkit-linear-gradient(354.66deg, #F8F8F8 24.04%, rgba(239, 239, 239, 0.84) 82.81%);
    background: linear-gradient(95.34deg, #F8F8F8 24.04%, rgba(239, 239, 239, 0.84) 82.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0px 4.06593px 20.3297px rgba(0, 0, 0, 0.35);
    padding: 0 0 25px 0;
}

.post-text__cotainer p {
    font-family: "Onest Regular" sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #b7b6b6;
    padding: 0 0 15px 0;
}

@media (max-width: 768px) {
    .post-item__container {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 25px;
        margin: 0 0 28px 0;
    }

    .post-item__description h1 {
        font-size: 36.5848px;
        line-height: 98%;
    }

    .post-item__description li {
        font-size: 18px;
        line-height: 23px;
        padding: 0 0 5px 0;
    }

    .post-item__description b {
        font-size: 18px;
        line-height: 23px;
    }

    .post-text__cotainer {
        margin: 0 0 20px;
    }

    .post-text__cotainer h2 {
        font-size: 36.5848px;
        line-height: 98%;
        padding: 0 0 15px 0;
    }
}